<a href="https://colab.research.google.com/github/Tayyaba-Ramzan/Python-List-Tuples-Assignments/blob/main/Python_Assignment_List_Tuples_and_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Basic List Operations***

*1. Create a list of five numbers and append a new number to it. Print the updated list.*

In [ ]:
five_numbers = [1, 2, 3, 4, 5]
five_numbers.append(6)
print(five_numbers)

[1, 2, 3, 4, 5, 6]

*2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.*

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

*3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript",
"Ruby"].*

In [ ]:
languages = ["Java", "C++", "JavaScript", "Ruby"]

languages.insert(2, "Python")
print(languages)

['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

*4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].*

In [ ]:
numbers = [10, 20, 30, 10, 40]

numbers.remove(10)
print(numbers)

[20, 30, 10, 40]

*5. Use the pop() method to remove the last element from [100, 200, 300, 400] and
print the modified list.*

In [ ]:
numbers = [100, 200, 300, 400]

numbers.pop()
print(numbers)

[100, 200, 300]

                        XXXXXXXXXXXXXXXX__________________XXXXXXXXXXXXXXXX

# ***Intermediate List Operations***

*6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30]*

In [ ]:
numbers = [5, 10, 5, 20, 5, 30]

count_5 = numbers.count(5)
print(count_5)

3

*7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.*

# ***Ascending Order***

In [ ]:
numbers=[9,1,8,3,5]
numbers.sort()
print(numbers)

[1, 3, 5, 8, 9]

# ***Descending Order***

In [ ]:
numbers=[9,1,8,3,5]
numbers.sort(reverse=True)
print(numbers)

[9, 8, 5, 3, 1]

*8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.*

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

*9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the
copied list and print both lists.*

In [ ]:
original_list = [1, 2, 3, 4, 5]

copied_list = original_list.copy()
copied_list.append(6)

print("Original List:", original_list)
print("Copied List:", copied_list)

Original List: [1, 2, 3, 4, 5]
Copied List: [1, 2, 3, 4, 5, 6]

*10. Clear all elements from a list [“hello”, “world”, “python”] using the clear()
method.*

In [ ]:
words = ["hello", "world", "python"]

words.clear()
print(words)

[]

                      
                      XXXXXXXXXXXXXXXX__________________XXXXXXXXXXXXXXXX

# ***Tuple-Based Questions***

*11. Create a tuple with 5 different fruits and print the third fruit.*

In [ ]:
fruits=["Grapes","Apple","Mango","Strawberry","Banana"]
third_fruit=fruits[2]
print(third_fruit)

Mango

*12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert it back into a tuple.*

In [ ]:
numbers=[10,20,30,40,50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

*13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you modify a tuple indirectly?*

In [ ]:
# Tuples are immutable, so append() will give an error
letters = ("A", "B", "C")

# Indirect modification by converting to list
letters_list = list(letters)
letters_list.append("D")
letters = tuple(letters_list)

print(letters)

# Alternative: Using tuple concatenation
letters = letters + ("E",)
print(letters)

('A', 'B', 'C', 'D')
('A', 'B', 'C', 'D', 'E')

*14. Unpack the tuple (100, 200, 300) into three separate variables and print them.*

In [ ]:
numbers = (100, 200, 300)

num1, num2, num3 = numbers

print(num1)
print(num2)
print(num3)

*15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).*

In [ ]:
numbers = (7, 1, 7, 3, 7, 5)

count_7 = numbers.count(7)

print(count_7)

3

                           XXXXXXXXXXXXXXXX__________________XXXXXXXXXXXXXXXX

# ***Advanced Problems***

*16. Write a function that takes a list and returns a new list with all even numbers removed.*

In [ ]:
def remove_evens(lst):
    return [num for num in lst if num % 2 != 0]  # Sirf odd numbers rakhein

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = remove_evens(numbers)

print(filtered_list)

[1, 3, 5, 7, 9]

*17. Create a function that accepts a list and returns a new list with elements sorted in descending order without using the sort() method.*

In [ ]:
def custom_sort_desc(lst):
    return sorted(lst, reverse=True)

numbers = [5, 2, 9, 1, 7]
print(custom_sort_desc(numbers))

[9, 7, 5, 2, 1]

*18. Given a list of numbers, write a program to remove all duplicate elements and print the unique elements.*

In [ ]:
def remove_duplicates(lst):
    return list(set(lst))

numbers = [1, 2, 3, 2, 4, 5, 3, 6, 5]
unique_numbers = remove_duplicates(numbers)

print(unique_numbers)

[1, 2, 3, 4, 5, 6]

*19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert it into a list, remove duplicates, and convert it back to a tuple.*

In [ ]:
names_tuple = ("Tayyaba", "Areeba", "Tayyaba", "Safia", "Farwah")

unique_names_tuple = tuple(set(names_tuple))

print(unique_names_tuple)

('Safia', 'Tayyaba', 'Areeba', 'Farwah')

*20. Create a program that takes a list of mixed data types (int, str, float) and separates integers into one list, strings into another, and floats into another.*

In [ ]:
def separate_data_types(mixed_list):
    int_list = []
    str_list = []
    float_list = []

    for item in mixed_list:
        if isinstance(item, int):
            int_list.append(item)
        elif isinstance(item, str):
            str_list.append(item)
        elif isinstance(item, float):
            float_list.append(item)

    return int_list, str_list, float_list

mixed_data = [1, "hello", 2.5, 3, "world", 4.0, 7, "python"]
integers, strings, floats = separate_data_types(mixed_data)

print("Integers:", integers)
print("Strings:", strings)
print("Floats:", floats)

Integers: [1, 3, 7]
Strings: ['hello', 'world', 'python']
Floats: [2.5, 4.0]

                             XXXXXXXXXXXXXXXX__________________XXXXXXXXXXXXXXXX